* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#e7e2d1;
}

.container {
    width: 1000px;  /* Ancho del CV */
    background-color: white;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px; /* Espacio entre elementos */
}

.profile {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen dentro del círculo sin deformarla */
}

.about {
    background-color: aquamarine;
    height: 250px;
    width: 250px;
    padding: 15px;
    margin: auto;
}

.personal-info {
    background-color: aqua;
    padding: 15px;
    margin: auto;
}

.social-media {
    background-color: bisque;
    padding: 15px;
    margin: auto;
}

.studies {
    background-color: burlywood;
    padding: 15px;
    margin: auto;
}

.stack {
    background-color: cadetblue;
    padding: 15px;
    margin: auto;
}

.view-language {
    background-color: coral;
    margin: auto;
}

.view-language button {
    text-align: center;
}